html, body {
	height: 100%;
	width: 100%;
}

body {
	padding-top: 3.5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.custom-file-label {
	display: inline !important;
}

#map-canvas {
	/* height: calc ( 100vh - 6rem ); */
	height: 100%;
	width: 100%;
  border: 2px dashed black;
}

.qso h1 {
	font-size: 2rem;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}